{:company/legal-name "Eskom Holdings SOC Ltd"
 :company/lei "3789001900ED06F65111"
 :company/jurisdiction "ZA"
 :company/website "https://www.eskom.co.za"
 :company/isic-rev5 "3510"
 :company/contact-email "MediaDesk@eskom.co.za"}
