[["eskom-tos-1" :tos/full-text "WEBSITE TERMS AND CONDITIONS
Last updated: September 2021

TERMS AND CONDITIONS ARE VALID, BINDING AND ENFORCEABLE AGAINST ALL
PERSONS THAT ACCESS THE ESKOM WEBSITE (THE WEBSITE), WEB PAGES OR ANY PART
THEREOF.

IF YOU DO NOT AGREE TO BE BOUND BY THESE TERMS AND CONDITIONS YOU MUST
LEAVE THE ESKOM WEBSITE WITHOUT DELAY, AS FURTHER USE WILL AUTOMATICALLY
BIND YOU TO THESE TERMS AND CONDITIONS AND BE DEEMED AS ACCEPTANCE OF
THESE TERMS AND CONDITIONS.

The Terms and Conditions are valid from the day of publication of this website.

DEFINITIONS AND INTERPRETATION
a) “Eskom” means Eskom Holdings SOC Ltd (Reg No 2002/015527/30), a company incorporated in
terms of the Company Law of the Republic of South Africa, with its registered head office at
Megawatt Park, Maxwell Drive, Sandton;
b) “the Eskom website” means the websites, owned and operated by Eskom Holdings Limited and
located at, including but not limited to, https://www.eskom.co.za ; https://www.eskom.co.za/dataportal
; https://csonline.eskom.co.za ; http://heritage.eskom.co.za ; https://www.eskom.co.za/eas ;
http://www.rotekindustries.co.za , including services available on and through the websites, and
furthermore including source code, meta tags, postings and any page, part or element thereof;

c) “User” means any person who enters or uses the Eskom website, notwithstanding the fact that
such a person only visits the home page of the Eskom website;

d) References herein to the singular include the plural and vice versa; and

e) Hyperlinks herein to legal documents should be deemed part of these terms and conditions in
terms of section 11(3) of the ECT Act. The fact that some or all of the hyperlinks may, from time to
time, be non-operational, shall not affect the validity and interpretation of these terms and conditions.

    1. GENERAL

    Eskom is South Africa’s state-owned electricity utility that generates, transmits and distributes
    electricity.

    Countries in which operations are located
    The operations of Eskom are located in South Africa. Eskom Enterprises, a subsidiary of Eskom,
    has operations on the African continent, with its head office located in Johannesburg, South
    Africa, and offices in Uganda.

    Ownership
    The ownership of Eskom vests in the South African government.

    Nature of markets and customers served
    Electricity is sold to industrial, mining, commercial, agricultural, and residential customers and
    redistributors.

    Breakdown of sales by country/region
    The majority of the sales are in South Africa, with only a small percentage of sales in the southern
    African region.

    Additional information on economic, environmental, and social aspects
    Eskom is committed to aligning itself with international sustainability reporting initiatives. Further
   environmental and social information is available on the Eskom website.

2. ALLOWED USE AND LICENSE

       2.1 Eskom licenses the User to view, download and print the content of the Eskom website,
       provided that such content is used for private, personal, educational and/or non-commercial
       purposes only.

       2.2 Content from the Eskom website may not be used or exploited by Users for any
       commercial and non-private purposes without the prior written consent of Eskom.

       2.3 Users may only access, browse and use the Eskom website for legitimate personal or
       commercial purposes and may not use the Eskom website or any Eskom services and/or
       products for:
               2.3.1 Harmful purposes;
               2.3.2 Illegal purposes;
               2.3.3 Disclosing, sharing or publishing material that may be offensive, defamatory,
               regulated, prohibited, infringing or damaging to any person and/or;
               2.3.4 The creation, storage and sending of unsolicited commercial communications.

       2.4 The caching of the Eskom website shall only be allowed if:

               2.4.1 The purpose of the caching is to make the onward transmission of the content
               from the Eskom website more efficient;
               2.4.2 The cached content is not modified in any manner whatsoever;
               2.4.3 The cached content is updated at least every 12 (twelve) hours; and
               2.4.4 The cached content is removed or updated when so required by Eskom.

       2.5 If any User uses content from the Eskom website in breach of the provisions detailed
       herein:

               2.5.1 Eskom reserves the right to claim damages from the user;
               2.5.2 Eskom reserves the right to institute criminal proceedings against the User; and
               2.5.3 Eskom shall not be liable, in any manner whatsoever, for any damage, loss or
               liability that resulted from the use of such content by the User or any third party who
               obtained any content from the User.

       2.6 Hyperlinks to the Eskom website from any other source shall be directed to the home
       page of the Eskom website. Links beyond the Eskom home page may only be used with
       Eskom’s prior written consent.

       2.7 Eskom shall not be liable, in any manner whatsoever, for any damage, loss or liability that
       resulted from the use of content, products or services available from the Eskom website, if
       such contents, products or services were accessed through a hyperlink not directed at the
       home page of the Eskom website. Persons who create links to pages beyond the home page
       of the Eskom website without Eskom’s prior written consent shall do so at their own risk and
       Eskom is indemnified against any loss, liability or damage that may result from the use of
       such hyperlinks. Eskom’s non-liability for deep linking is based on the fact that deep links
       bypass these terms and conditions.

       2.8 Users may quote small and reasonable amounts of content available from the Eskom
       website, in any format, subject to such a quote being placed in inverted commas and
       acknowledged.

       2.9 No person may, without the prior written consent of Eskom, frame the Eskom website in
       any manner whatsoever.

       2.10 Apart from bona-fide search engine operators and use of the search facility provided on
       the Eskom website by Users, no person may use or attempt to use any technology or
        applications (including web crawlers, robots or web spiders) to search, collect or copy content
        from the Eskom website, for any purposes, without the prior written consent of Eskom.

        2.11 Email addresses, names and telephone numbers published on the Eskom website may
        not be incorporated into any database used for electronic marketing or similar purposes. No
        permission is given or should be implied that information on the Eskom website may be used
        to communicate unsolicited communications to Eskom and all rights detailed in Section 69 of
        Protection of Personal Information Act, 2013 are reserved.


        2.12 All licenses and/or permissions granted in terms of this clause 2 are provided on a
        limited, non-exclusive and non-transferable basis and may be terminated or cancelled by
        Eskom at any time without prior notice or reasons.

3. INTELLECTUAL PROPERTY RIGHTS

        3.1 All intellectual property on the Eskom website, including but not limited to content,
        trademarks (or any confusingly similar trademarks), logos, pictures, video, downloads,
        domain names, patents, design elements, software, source code, meta tags, databases, text,
        graphics, icons and hyperlinks are the property of or licensed to Eskom and as such, are
        protected from infringement by domestic and international legislation and treaties. Subject to
        the rights licensed to the User in clause 2, all other rights to intellectual property on the
        Eskom website are expressly reserved.

        The user undertakes not to do anything that may infringe any person’s intellectual property
        rights, including but not limited to –

                3.1.1. reverse engineering, decompiling, dissembling or otherwise attempting to
                discover the source codes of any technology; and

                3.1.2. the unauthorised copying, reproduction, retransmission, distribution,
                dissemination, sale, publication, or other circulation or exploitation of such
                technology, material, content, and services

                3.3. not to use the trade name “Eskom” as an element of a domain name or sub
                domain name, notwithstanding the fact that its use or registration may be allowed in
                terms of trademark or constitutional law. Upon request to do so, a User shall
                immediately cease to use such domain name and transfer it to Eskom at the cost of
                the User.

        3.2 No person may use logos, icons or trademarks from the Eskom website as hyperlinks or
        other purposes without Eskom’s prior written consent.

4. SOFTWARE AND EQUIPMENT

It is the responsibility of the User to acquire and maintain, at his/her own expense, the necessary
computer hardware, software, communication lines and Internet access accounts required to access
the Internet and Eskom’s website and/or download content from the Eskom website.

5. DISCLOSURES REQUIRED BY SECTION 43 OF THE ECT ACT

These terms and conditions as well as product and/or service specific terms and conditions govern
the sale of goods and/or the provision of services from or through the Eskom website. Access to the
services, content, software and downloads available from the Eskom website may be classified as
“electronic transactions” as defined in terms of the ECT Act and therefore Users have the rights
detailed in Chapter 7 of the ECT Act and Eskom has, amongst others, the duty to disclose the
following information:
        5.1 The full name and legal status of the website owner: Eskom Holdings SOC Ltd;

        5.2 Directors: Board of Directors

        5.3 Street address: Megawatt Park, 2 Maxwell Street, Sunninghill, Sandton, South Africa;

        5.4 Physical address for receipt of legal service: Megawatt Park, 2 Maxwell Street,
        Sunninghill, Sandton;

        5.5 Telephone number: +27 11 800 8111;

        5.6 Main business: Eskom is a vertically integrated utility that generates, transmits and
        distributes electricity;

        5.7 External Regulatory Structures: National Electricity Regulator (NERSA) and The National
        Nuclear Regulator;

        5.8 Code of Conduct: Eskom Business Conduct Policy;

        5.9 The website addresses of the Eskom websites are:
                5.10.1 https://www.eskom.co.za ;
                5.10.2 https://www.eskom.co.za/dataportal ;
                5.10.3 https://csonline.eskom.co.za ;
                5.10.4 http://heritage.eskom.co.za
                5.10.5 https://www.eskom.co.za/eas
                5.10.6 http://www.rotekindustries.co.za

        5.10 The official email address of the Eskom website is: webmaster@eskom.co.za

        5.11 Alternative dispute resolution: Subject to urgent and/or interim relief, all disputes
        regarding:
                5.11.1 access to the Eskom website;
                5.11.2 the inability to access the Eskom website;
                5.11.3 the services and content available from the Eskom website; or
                5.11.4 these terms and conditions, shall be referred to arbitration in terms of the
                expedited rules of the Arbitration Foundation of South Africa and such arbitration
                proceedings shall be conducted in Johannesburg in English. The arbitration ruling
                shall be final and the unsuccessful party shall pay the costs of the successful party on
                a scale as between attorney and own client. The expedited rules of the Arbitration
                Foundation of South Africa may be downloaded from the following website:
                http://www.arbitration.co.za

        5.12 Cooling-off period: In terms of the operation of section 42 (2) (d) of the ECT Act, the
        cooling-off period provision of the ECT Act does not apply to this website and;

        5.13 Users may lodge enquiries concerning the Eskom website with Eskom at:
        webmaster@eskom.co.za

6. CHANGES AND AMENDMENTS

Eskom reserves the right, in its sole and absolute discretion, to do any of the following, at any time
without prior notice or justification:

        6.1 change these terms and conditions;

        6.2 change the content and/or services available from the Eskom website;

        6.3 discontinue any aspect of the Eskom website or service(s) available from the Eskom
        website; and/or

        6.4 change the software and hardware required to access and use the Eskom website.
7. PRIVACY

Eskom does not collect any personal data from the main website [www.eskom.co.za]. Site statistics
collected are not capturing any IP addresses or any information that can be traced back to an
individual or organisation. Site statistics are enabling Eskom to monitor site users’ behaviour and
enable Eskom to manage and change the site to provide the best experience possible

The following section of the website Terms and conditions, should be read in conjunction with
Eskom’s Privacy statement.

        7.1 Eskom shall take all reasonable steps to protect the personal information of Users and for
        the purpose of this clause, “personal information” shall be defined as detailed in the
        Promotion of Access to Information Act 2 of 2000 (PAIA) and the Protection of Personal
        Information Act 4, 2013.

        7.2 When accessing this site Eskom does not process personal information. However, Eskom
        processes personal information as stated in our Privacy Statement when engaging with
        Eskom. Eskom collects, stores and uses the information for the following purposes:
               7.2.1 Communicate requested information to the User;
               7.2.2 Provide services to the User as requested by the User;
               7.2.3 Authenticate the User;
               7.2.4 Compile non-personal statistical information about browsing habits, click-
               patterns and access to the Eskom website.

        7.3 Information detailed above is collected electronically

        7.4 Eskom owns and retains all rights to non-personal statistical information collected and
        compiled by the Eskom website.

8. HYPERLINKS TO THIRD PARTY SITES

        8.1 Eskom may provide hyperlinks to websites not controlled by Eskom (“target sites”) and
        such hyperlinks do not imply any endorsement, agreement on or support of the content,
        products and/or services of such target sites.

        8.2 Eskom does not editorially control the content, products and/or services on target sites
        and shall not be liable, in any manner whatsoever, for the access to, inability to access, use
        and inability to use content available on or through target sites.

9. SECURITY

        9.1 Eskom shall take all reasonable steps to secure and/or prevent unauthorised access
        and/or disclosure of the content of the Eskom website and the information provided by and
        collected from Users. However, Eskom does not make any warranties or representations that
        content shall be safe or secure.

        9.2 Subject to the provisions of sections 43(5) and 43(6) of the ECT Act, if applicable, Eskom
        is under no legal duty to encrypt any content or communications from and to Users and is
        also under no legal duty to provide digital authentication of any pages on the Eskom website.

        9.3 Users may not deliver or attempt to deliver, whether on purpose or negligently, any
        damaging code, such as computer viruses, robots or spy ware, to the Eskom website or the
        server and computer network that supports the Eskom website.

        9.4 Notwithstanding criminal prosecution, any person who delivers or attempts to deliver any
        damaging code to the Eskom website, whether on purpose or negligently, shall, without any
        limitation, indemnify and hold Eskom harmless against any and all liabilities, legal costs,
        damages, risks and losses that Eskom and its partners / affiliates may suffer as a result of
        such delivery, attempt or damaging code.
        9.5 Users may not develop, distribute or use any device or programme designed to breach or
        overcome the security measures of the restricted pages, products and services on the Eskom
        website and Eskom reserves the right to claim damages from any and all persons involved,
        directly and indirectly, in the development, use and distribution of such devices or
        programmes.

        9.6 Users who commit any of the offences detailed in sections 85 to 88 of the ECT Act shall,
        notwithstanding criminal prosecution, be liable for all resulting liabilities, losses, destruction or
        damages suffered and/or incurred by Eskom and its partners / affiliates due to or related to
        these illegal actions.

10. DISCLAIMER AND LIMITATION OF LIABILITY

        10.1 Subject to the provisions of sections 43(5) and 43(6) of the ECT Act, if applicable, and as
        far as allowed by law, Eskom (including its subsidiaries, shareholders, business units,
        employees, suppliers, Internet service providers, partners, affiliates and agents) shall not be
        liable for any damage, loss, liability or expenses of any nature incurred by whomsoever and
        resulting from:
                  10.1.1 Access to the Eskom website;
                  10.1.2 Access to websites linked to the Eskom website;
                  10.1.3 Inability to access the Eskom website;
                  10.1.4 Inability to access websites linked to the Eskom website;
                  10.1.5 Content available on the Eskom website;
                  10.1.6 Services available from the Eskom website;
                  10.1.7 Communication mechanisms available from the Eskom website;
                  10.1.8 Products available from the Eskom website;
                  10.1.9 Downloads and use of content from the Eskom website; and/or
                  10.1.10 Any other reason not directly related to Eskom’s gross negligence.


        10.2 The Eskom website is supplied on an \"as is\" basis and has not been compiled to meet
        the User's individual requirements. It is the responsibility of the User to satisfy himself or
        herself, prior to entering into this agreement with Eskom, that the content available from and
        through the Eskom website meets the User's individual requirements and is compatible with
        the User's computer hardware and/or software.

        10.3 Information, ideas and opinions expressed on the Eskom website should not be
        regarded as professional advice or the official opinion of Eskom and Users are encouraged to
        obtain professional advice before taking any course of action related to the information, ideas
        or opinions expressed on the Eskom website.

        10.4 Eskom does not make any warranties or representation that content and services
        available from the Eskom website shall in all cases be true, correct or free from any errors.
        Eskom shall take all reasonable steps to ensure the quality and accuracy of content available
        from the Eskom website.

        10.5 Eskom does not make any warranties or representations that the Eskom website shall
        be available at all times. Users acknowledge that the Eskom website may be unavailable due
        to updates or other causes beyond the reasonable control of the Eskom, including, but not
        limited to virus infection, unauthorised access (hacking), power failures or other “acts of God”.

11. COMMENTS

Eskom does not edit or scan comments posted by the User or emails from the User to Eskom or the
Eskom website and shall not be liable for any defamatory, illegal, infringing, hateful, pornographic or
harmful postings.
12. REMOVAL AND CORRECTION OF CONTENT

Users are encouraged to report untrue, inaccurate, defamatory, illegal, infringing and/or harmful
content available from the Eskom website to Eskom, and Eskom undertakes to correct and/or remove
such content or any part thereof if the person reporting such content provided reasonable grounds to
prove the alleged nature of the content.

13. INTERCEPTION OF COMMUNICATIONS

        13.1 Subject to the provisions of the Regulation of Interception of Communications (RIC) Act
        70 of 2002, the User agrees to Eskom’s right to intercept, block, filter, read, delete, disclose
        and use all communications (including all “data messages” as defined in the ECT Act) sent or
        posted by the User to the Eskom website, its staff and employees. The RIC Act may be
        downloaded from: http://www.info.gov.za/acts/2002/a70-02/ .

        13.2 The User agrees and acknowledges that the consent provided by the User in clause
        13.1 satisfies the “writing” requirement as detailed in the ECT Act and the RIC Act.

14. ENTIRE AGREEMENT AND SEVERABILITY

        14.1 These terms and conditions constitute the entire agreement between Eskom and the
        User and shall take precedence over any disclaimers and/or legal notices attached to any
        communications and/or postings received by Eskom from the User.

        14.2 Any failure by Eskom to exercise or enforce any right or provision shall in no way
        constitute a waiver of such right or provision.

        14.3 In the event that any term or condition detailed herein is found unenforceable or invalid
        for any reason, such term(s) or condition(s) shall be severable from the remaining terms and
        conditions. The remaining terms and conditions shall remain enforceable and applicable.

15. AGREEMENT IN TERMS OF SECTION 21 OF THE ECT ACT

The User and Eskom agree that:
       15.1 the User shall be bound to these terms and conditions and such agreement is concluded
       in Johannesburg (South Africa) at the time the User enters the Eskom website for the first
       time;

        15.2 data messages (as defined in the ECT Act) addressed by the User to Eskom shall only
        be deemed to have been received if and when responded to. An auto-reply shall not
        constitute such ‘response’ for the purposes of this clause;

        15.3 data messages (as defined in the ECT Act) addressed to the User by Eskom shall be
        deemed to be received by the User as detailed in section 23(b) of the ECT Act;

        15.4 data messages (as defined in the ECT Act) addressed by the User to Eskom shall be
        deemed to have been created and sent by the User from within the geographical boundaries
        of South Africa unless specified to be from another country;

        15.5 electronic signatures, encryption and/or authentication is not required for valid electronic
        communications between the User and the Eskom; and

        15.6 the User agrees and warrants that data messages that are sent to Eskom from a
        computer, IP address or mobile device normally used by or owned by the User, were sent
        and/or authorised by the User personally.

16. APPLICABLE AND GOVERNING LAW

The Eskom website is hosted, controlled and operated from the Republic of South Africa and
therefore, subject to clause 5.11, the South African law enforced by the South African courts governs
the use or inability to use the Eskom website, its content, services, products and these terms and
conditions.

17. LEGAL COSTS

Eskom shall not be liable for costs incurred by users to obtain professional advice relating to these
terms and conditions.




VERSION: 27 September 2021" 1 :add]
 ["eskom-tos-1" :tos/source-url "https://www.eskom.co.za/wp-content/uploads/2021/10/WEBSITE-TERMS-AND-CONDITIONS_Sep2021.pdf" 1 :add]
 ["eskom-tos-1" :tos/retrieved-at "2026-07-24T15:24:58Z" 1 :add]
 ["eskom-tos-1" :tos/sha256 "6c0dd99af41c77614ab65a36f50edceec264ef7890ae2bbcd9c3eed157bdfde1" 1 :add]
 ["eskom-tos-1" :tos/doc-type :terms-of-service 1 :add]]
